<!DOCTYPE html>
<html>
  <head>
    <title>Mi Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Mi Portafolio</h1>
      <p>Bienvenido a mi portfolio personal.</p>
    </header>
    <section>
      <article class="card">
        <div class="devpf">
          <img
            src="/images/profilePicknoBG.png"
            alt="profile image"
            class="img-pf"
          />
        </div>
        <div>
          <h2 class="dv-name">Carlos De La Paz Rivas</h2>
          <h3 class="dv-name">Web developer, magento 2 dev</h3>
          <p class="dv-name">
            Soy un desarrollador web experimentado en el e-commerce con un
            historial en el desarrollo del mismo ayudando al equipo de
            desarrollo a cumplir con los objetivos.
          </p>
        </div>
      </article>
    </section>
    <section class="projects">
      <!-- Aquí puedes agregar tus proyectos -->
      <div>
        <h2 class="dv-name dv-projects">Proyectos</h2>
      </div>
    </section>

    <footer>
      <p>Contacto: dlp.carlos.rvs@gmail.com</p>
    </footer>
  </body>
</html>
