<!DOCTYPE html>
<html>
  <head>
    <title>Mi Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1 class="general-txt">Mi Portafolio</h1>
      <p class="general-txt">Bienvenido a mi portfolio personal.</p>
    </header>
    <section>
      <article class="card">
        <div class="devpf">
          <img
            src="/images/profilePicknoBG.png"
            alt="profile image"
            class="img-pf"
          />
        </div>
        <div>
          <h2 class="dv-name">Carlos De La Paz Rivas</h2>
          <h3 class="dv-name">Magento 2  fullstack developer</h3>
          <p class="dv-name">
            Soy un desarrollador web experimentado en el e-commerce con un
            historial en el desarrollo del mismo ayudando al equipo de
            desarrollo a cumplir con los objetivos.
          </p>
        </div>
      </article>
    </section>

    <section class="aboutme">
      <h2 class="general-txt">Acerca de mi</h2>
    </section>
    <section class="projects">
      <h2 class="dv-name dv-projects">Proyectos</h2>
      <div class="projects">
        <div>
          <h2 class="general-txt">miyaramarket.com</h2>
        </div>
        <div>
          <h2 class="general-txt">grupoavante.org</h2>
        </div>
      </div>
    </section>
    <footer>
      <p class="general-txt">Contacto: dlp.carlos.rvs@gmail.com</p>
    </footer>
  </body>
</html>
